.team-text-block {
  font-family: "Briller";
  font-size: 10rem;
  font-weight: bold;
  text-align: center;

  @for $i from 1 through 5 {
    $opacity: percentage(0.25 / $i);

    &:nth-of-type(#{$i}) {
      opacity: $opacity;
    }
  }

  @media (max-width: 1024px) {
    font-size: 8.5rem;
  }

  @media (max-width: 768px) {
    font-size: 6.5rem;
  }

  @media (max-width: 450px) {
    font-size: 3.5rem;
  }

  @media (max-width: 380px) {
    font-size: 3rem;
  }

  @media (max-width: 350px) {
    font-size: 2.6rem;
  }
}
