.tokenomics {
  padding: 3rem 0 8rem;

  @media (max-width: 768px) {
    padding: 8rem 0 6.4rem;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  ul {
    list-style: disc;

    li {
      margin-left: 2rem;
    }
  }

  &__dash {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;

    @media (max-width: 768px) {
      height: 80vh;
      width: 100%;
    }

    img {
      &:last-of-type {
        z-index: 1;
      }
    }
  }

  &__board {
    position: relative;
    height: 75%;
    width: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 0;
      }

      @for $i from 2 through 5 {
        &:nth-of-type(#{$i}) {
          z-index: #{5 - $i};
        }
      }
      &:nth-of-type(3) {
        top: 50%;
        left: 52%;
      }
    }
  }

  &__info {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__distribution {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    @media (max-width: 768px) {
      justify-content: flex-start;
    }

    @media (max-width: 450px) {
      flex-wrap: wrap;
      margin-bottom: 2.4rem;
    }

    span {
      color: var(--pink-dark);
      text-transform: uppercase;

      &:first-of-type {
        font-size: 2.4rem;

        @media (max-width: 1024px) {
          font-size: 2.4rem;
        }

        @media (max-width: 768px) {
          margin-right: 2rem;
        }
      }
    }

    &-numbers {
      display: flex;
      flex-direction: column;

      span {
        &:first-of-type {
          white-space: nowrap;
          font-size: 4.5rem;
          font-weight: bold;
          line-height: 1;

          @media (max-width: 450px) {
            white-space: normal;
          }

          strong {
            font-size: 2.4rem;

            @media (max-width: 1024px) {
              font-size: 2rem;
            }

            @media (max-width: 450px) {
              display: block;
              margin-top: 0.4rem;
              font-size: 1.8rem;
            }
          }
        }

        &:last-of-type {
          margin-top: 1rem;
          color: white;
        }
      }
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block {
    position: relative;
    margin-bottom: 3.8rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    width: calc(50% - 2rem);

    @media (max-width: 1024px) {
      padding-left: 4.2rem;
    }

    @media (max-width: 768px) {
      width: 43%;
    }

    @media (max-width: 450px) {
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    span {
      text-transform: uppercase;

      &:first-of-type {
        margin-bottom: 0.8rem;
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1;
        color: var(--pink-light);

        &:before {
          -webkit-text-stroke: 0.1rem var(--pink-light);
        }
      }
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      @media (min-width: 451px) {
        margin-bottom: 0;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5rem;
      width: 1rem;
      height: 4.5rem;
      border-radius: 0.4rem;
    }

    &:nth-of-type(1) {
      &:before {
        background: #8a0098;
      }
    }
    &:nth-of-type(2) {
      &:before {
        background: #9b51e0;
      }
    }
    &:nth-of-type(3) {
      &:before {
        background: #cb94ff;
      }
    }
    &:nth-of-type(4) {
      &:before {
        background: #f5cdf9;
      }
    }
  }
}
